{% extends 'Main/base.html' %}

    {% block title %}
        Eliminar
    {% endblock title %}

    {% block content_title %}
        Eliminar una publicación
    {% endblock content_title %}

    {% block content %}
        <h2>¿Está seguro de que desea eliminar la publicación "{{ object }}"?</h2>
        <form method="post">
            {% csrf_token %}
            <input type="submit" value="Eliminar" class="btn btn-danger">
        </form>
        <a href="{% url 'blog:post_list' %}" class="btn btn-secondary">Cancelar</a>
    {% endblock content %}

