{% extends 'Main/base.html' %}

    {% block title %}
        Publicaciones
    {% endblock title %}

    {% block content_title %}
    Lista de Publicaciones
    {% endblock content_title %}

    {% block content %}
    <a href="{% url 'blog:post_create' %}" class="btn btn-primary mb-3">Crear Publicación</a>

    <form action="{% url 'blog:post_list' %}" method="get">
        <input type="text" name="busqueda" placeholder="Buscar..." class="form-control mb-3" type="submit">
    </form>

    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Título</th>
                    <th>Autor</th>
                    <th>Fecha de Creación</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody>
                {% for post in posts %}
                    <tr>
                        <td>{{ post.titulo }}</td>
                        <td>{{ post.autor }}</td>
                        <td>{{ post.fecha_publicacion }}</td>
                        {% if post.estado == "B" %}
                            <td>Borrador</td>
                        {% else %}
                            <td><strong>Publicado</strong></td>
                        {% endif %}
                        <td class="text-center">
                            <a href="{% url 'blog:post_detail' post.id %}" class="btn btn-info">Ver Mas</a>
                            <a href="{% url 'blog:post_update' post.id %}" class="btn btn-warning">Editar</a>
                            <a href="{% url 'blog:post_delete' post.id %}" class="btn btn-danger">Eliminar</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endblock content %}

